@font-face {
    font-family: "Maax";
    src: url("Maax_-_Regular-205TF.woff2");
    font-weight: normal;
  }  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maax', sans-serif;
  }

  body{
      overflow-x: hidden;
    }


   



.select-wrapper {
  position: relative;
  padding: 0;
  background: #fff;
}



.select-wrapper select {
  padding:0 10px;
  white-space: nowrap;
  background-color: white;
  overflow: hidden;
  background: none;
  width: 100%;
  padding-right: 30px;
  height: 47px;
  border: 1px solid silver;
  display: block;
  outline: none;
  

}


